[2019-05-06 17:24] philsturgeon opened #2 "Improve Testing with Mermade/openapi3-examples"
If you'd like more example documents to improve your testing, this is an amazing resource: https://github.com/Mermade/openapi3-examples.

[2019-05-07 04:06] lezhnev74 commented on #2
Exactly what I was looking for (to try various use cases).
Thank you!

[2019-05-07 08:27] scaytrase opened #3 "Validator ignores base uri path"
Given openapi spec with
   Server base uri `http://localhost:8000/api/v1`
   POST operation `/products.create`

I expect POST request `http://localhost:8000/api/v1/products.create` to be valid

Actual result
[code]

[code]

According to https://swagger.io/docs/specification/api-host-and-base-path/ having base url path prefix is totally valid

[2019-05-07 08:53] cebe commented on #2
there are two more resources in https://github.com/cebe/php-openapi/issues/21

[2019-05-07 09:56] scaytrase opened #4 "Library does not play well with references"
Given schema with reference and valid JSON input

[code]

I expect validator to pass this object.

Actual results:

[code]

Because of https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/Schema/Keywords/Properties.php#L64
(each validator has this line)

If I comment out these lines and add the following hack

[code]

And add
[code]
To each validator this starts working better, but

[2019-05-07 10:40] lezhnev74 commented on #3
Good catch! Ill fix it asap. Now focusing on `security` keyword.

[2019-05-07 10:43] lezhnev74 commented on #4
Yeah, when I first thought about that, I wanted to avoid working with references and just resolve them all in the first place. For example, [speccy](https://github.com/wework/speccy) did it in my projects:
[code]

Though I see the point in doing it automatically. Let me meditate on this for a while...

[2019-05-07 11:06] scaytrase commented on #4
In our case we generate schema (with zircote lib) programmatically to supply it to api conaumers and also use the same schema in order to validate request, so it's hard to utilize external tools. but since there is a workaround we can treat this as an usability issue

[2019-05-07 17:43] lezhnev74 commented on #3
@scaytrase I've completed first iteration over base uri feature.
Your test looks green now: https://github.com/lezhnev74/openapi-psr7-validator/blob/master/tests/FromCommunity/ScayTraseTest.php

I noticed that you did not add `type:object` before `properties`. I thought that was a violation of OAS 3.

[2019-05-07 18:29] cebe commented on #3
the spec does not mention this explicitly anywhere, but tools tend to assume type `object` when `properties` is specified.

[2019-05-07 20:44] scaytrase commented on #3
assume or require? i validate my schema against https://editor.swagger.io, so they should be pretty valid, but it's interesting question anyway

[2019-05-08 04:41] lezhnev74 commented on #3
I've removed this check. I was applying "defensive programming" and wanted to protect the code from unexpected side effects.

[2019-05-08 09:20] lezhnev74 commented on #3
I'll allocate some time for testing different `servers` values, gonna close this one once confirmed that it works as expected.

[2019-05-08 09:23] scaytrase commented on #3
Yeah, I've just updated to 0.7 and this looks like fixed at the moment

[2019-05-08 09:23] #3 closed, assigned to lezhnev74

[2019-05-09 07:19] brayniverse opened #9 "Issues using readFromYamlFile() on Windows"
There is an issue with the underlying `cebe/php-openapi` library for Windows users that prevents us from calling `readFromYamlFile()`. @scaytrase has [opened an issue on their repo](https://github.com/cebe/php-openapi/issues/22) so hopefully it'll be fixed soon. However, this bug is fixed in the underlying library the examples in the README file will not work as described for Windows users.

In or

[2019-05-09 07:20] brayniverse commented on #9
I just checked the `cebe/php-openapi` issue I referenced and they've acknowledged the problem.

[2019-05-09 07:25] scaytrase commented on #9
In order to use references you should resolve them manually beforehand, see #4

[2019-05-09 07:26] lezhnev74 commented on #9
@brayniverse very good catch!

I'd love it if you could add a note for Windows Users (with a reference to a causing bug report).

[2019-05-09 07:29] lezhnev74 commented on #9
I've added a paragraph to Readme file about this references issue.

[2019-05-09 07:38] lezhnev74 commented on #4
Will work on this one asap

[2019-05-09 08:08] brayniverse commented on #9
I've submitted a pull request (#10) but I think there's another issue with `ValidationMiddleware` because it's [`readOAS()` method calls `readFromYamlFile()`](https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/PSR15/ValidationMiddleware.php#L86).

[2019-05-09 08:11] scaytrase commented on #9
Looks like it is a good idea do decouple spec retrieval method from middleware. not every spec is even stored in a file. I can submit separate issue about this if you want (we do not use these middlewares at the moment)

[2019-05-09 09:39] lezhnev74 commented on #9
Nah, let's keep it here for now.

Good point. I'll extract it. Should be quite straightforward.

[2019-05-09 09:44] lezhnev74 commented on #9
Ok, `0.9.0` contains the fix

[2019-05-09 10:51] lezhnev74 commented on #4
Pushed `0.10.0` which does auto-resolving of dependencies

[2019-05-09 10:51] lezhnev74 commented on #9
Pushed `0.10.0` which does auto-resolving of dependencies

[2019-05-09 12:17] brayniverse commented on #9
Ran the test suite with new auto-resolving feature (and changing `fromYamlFile` to `fromYaml`) but I get this exception on Windows now.

cebe\openapi\exceptions\UnresolvableReferenceException: Failed to resolve Reference 'schemas.yaml#/components/schemas/SchemaA' to ce
be\openapi\spec\Schema Object: file_get_contents(./schemas.yaml): failed to open stream: No such file or directory

[2019-05-09 12:21] lezhnev74 commented on #9
Looks like I am missing something about Windows... Let me check again.

[2019-05-09 12:33] lezhnev74 commented on #9
I am setting up a virtual box with Windows installed and gonna see what causes this.

[2019-05-09 12:42] brayniverse commented on #9
Thank you.

[2019-05-09 13:28] lezhnev74 commented on #9
@brayniverse can you extend your input:
- did you run standard tests suit `./vendor/bin/phpunit`?
- if you run your own test, can you provide full text for both file content and code?

[2019-05-09 14:01] lezhnev74 commented on #9
Ok, confirmed. It does not work on windows out of the box:

![image](https://user-images.githubusercontent.com/10206110/57459503-cd7cb200-728c-11e9-969f-9e7bfc9d03fd.png)

It looks like the root (as you mentioned) is here: https://github.com/cebe/php-openapi/issues/22

[2019-05-09 14:05] brayniverse commented on #9
@lezhnev74 I ran `./vendor/bin/phpunit` without any modifications and got this error:

cebe\openapi\exceptions\UnresolvableReferenceException: Can not resolve references for a specification given as a relative path.

I updated CompleteTest::test_request_green like so:

[code]

and get the following error:

cebe\openapi\exceptions\UnresolvableReferenceException: Failed to resolve Reference 'schemas

[2019-05-09 14:06] brayniverse commented on #9
Nice. Thanks for looking into it. Let me know if there is anything I can do to help.

[2019-05-10 13:29] judgej opened #11 "Caching of parsed OpenAPI definitions"
This is more a question than anything. Hopefully it is covered somewhere.

So, for every inbound request to an API, the payload needs to be validated against an OpenAPI definition. That definition needs to be parsed/lexed/whatever into some form that can be used to do the validation. That will take time and resources to do.

So, is that parsed form of the OpenAPI definition cached? Can it even be

[2019-05-10 14:45] lezhnev74 commented on #11
Good point! Indeed, performance is important. So this package is based on wonderful https://github.com/cebe/php-openapi by @cebe which does "reading" part. I think it should cache the schema between reads.

I am going to dig deeper into this.

[2019-05-10 14:49] judgej commented on #11
I was wondering if underlying packages did their own caching, which it would make sense if they did. But I would guess a caching object or factory would still need to be supplied. Thanks for the quick response - looking forward to trying it out.

[2019-05-10 15:47] lezhnev74 commented on #11
Quick update:
- cebe's `cebe/php-openapi` does not have a caching layer (I did not see one)
- `symfony/yaml`'s parser is used for actually reading YAML files. It does not have a caching layer as well.

Given that I am correct about the above, I think I should add a caching layer into the package.

[2019-05-10 15:57] judgej commented on #11
Just out of curiosity, what would actually be cached? For example, PHP scripts are parsed into opcodes at runtime, and the opcodes are cached, so the parsing stage can be skipped. Do these libraries do something similar? Maybe they don't, and there is nothing that can be cached. I can't imagine a hash of the API requests having a particularly high hit-rate (assuming the cached result is a go/no-go

[2019-05-10 16:00] lezhnev74 commented on #11
You read my mind about psr-6.
Indeed there is an intermediary form. Text is converted to an object `\cebe\openapi\spec\OpenApi` which contains all parsed values. I believe this is a perfect candidate to be cached. Thus we save CPU cycles on parsing and converting openapi to that representation.

My plan is to serialize the object and store into the cache storage and then read and deserialize it ba

[2019-05-10 16:48] lezhnev74 commented on #11
I've done one iteration over this caching thing. See readme: https://github.com/lezhnev74/openapi-psr7-validator#caching-layer--psr-6-support

[2019-05-10 17:01] judgej commented on #11
I'm going to use that awesome word again: *awesome*. I'm putting together a tiny API on stoplight.io to give this a first run through. Thank you @philsturgeon for pointing us here.

[2019-05-10 17:02] lezhnev74 commented on #11
👍 Please feel free to post any issues/ideas you encounter with this package.

[2019-05-13 07:33] scaytrase commented on #4
I've updated to latest 0.11.1 and this one looks resolved with new factory methods `::fromYaml` which does internal auto-resolution.

Thank you!

[2019-05-13 07:33] #4 closed, assigned to lezhnev74

[2019-05-13 07:34] lezhnev74 commented on #4
Good! Let me know if anything else pops up.

[2019-05-13 09:26] scaytrase opened #12 "Nullable check should terminate further assertions for nullable null"
At this point if `$this->schema->nullable === true` and `$this->data === null` we should terminate any futher checks since there is no sence to check any keyword on null which is valid if schema is nullable

https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/Schema/Validator.php#L68

[2019-05-13 09:31] scaytrase commented on #12
I'll try to provide PR for this ASAP

[2019-05-13 10:28] lezhnev74 commented on #12
Good point! It makes total sense.
Let me review the PR now.

[2019-05-13 10:55] scaytrase opened #14 "[Feature] Incapsulate exceptions"
Currently not only library exceptions are being thrown while validation, but also `respect/validation` library exception comes to the end user like

[code]
(expecting `int[]` here, not `int`)

It's very hard to manually process these exceptions and enrich their messages with things like validation data path where the error occured and also make end user create complex try..catch blocks.

I suggest

[2019-05-13 10:58] #12 closed, assigned to nobody

[2019-05-13 11:11] lezhnev74 commented on #14
Good point. This is indeed a deep topic.
- there are a lot of places where validation is used under the hood. Sometimes it is delegated to the PHP itself (hence `TypeError`), sometimes validation library is used (`Respect/Validation`)
- the goal of those checks is **to protect the logic from unexpected input**. It does it pretty well already.
- what your concern is about is **clarity, what exactly

[2019-05-13 11:20] scaytrase commented on #14
I hope there is not so many exception type that should be converted

As for validation library any input is expected ) but, well... invalid?

Coverting exceptions for me is all about wrapping Respect exception into library exception, not really doing 1-to-1 converstion, and adding some stuff like breadcrumbs

[2019-05-13 11:26] lezhnev74 commented on #14
Ok, let me meditate for a while on this. I am not really happy with this `All of the required rules must pass` as well.

Yeah, I am a bit too defensive in this regard. There are some assumptions in the package, like **openapi schemas should be valid** (otherwise the underlying `cebe/openapi-reader` should have thrown an exception. User's input in unpredictable and can be anything. That's why I add

[2019-05-14 07:34] scaytrase commented on #11
I've looked up into this implementation and it has flaws for me.

Currently it caches only ready-for-use schema source data, but there is no real feedback about whether it is cached or not, so if your data source is not raw YAML or file (in our case its some doctrine annotations and some php code generating it) - than we should generate schema in order to use cached cebe\Schema at the end, so gene

[2019-05-14 07:52] scaytrase commented on #11
From my point of view half of current `Validator` class content is something, that should be `ValidatorBuilder` at the end, and another part are schema utility helpers, which could be used with composition, not inheritance.

So It could be used like this (namings are reference only, just for example)

[code]

builder internally checks given cache with given key (or generates it for cacheable facto

[2019-05-14 07:52] scaytrase commented on #11
I can try to provide PR with implementation to discuss a bit later

[2019-05-14 07:56] lezhnev74 commented on #11
I love this. Please do a PR, let's discuss later.

Indeed there are different concerns combined in the single Validator object at the moment - caching, building(reading openapi), actual validation. It works as a first iteration on the package but can be improved in many ways.

[2019-05-14 13:31] scaytrase commented on #11
implemented initial thoughts as #16

[2019-05-14 14:36] judgej opened #17 "Validation returns OperationAddress - just wondering why?"
I'm trying a simple bit of validation:

[code]
If all validates correctly I get this object returned:

`OpenAPIValidation\PSR7\OperationAddress`

For example:

[code]

The method and the path are keys to the operation, so I'm wondering whether it would be more useful to return the operation? The `operationId` could then be used to fire off further parsing of the server request (I'm looking at gene

[2019-05-14 14:41] judgej commented on #17
The "constructed by hand" PSR-7 message, just for interest, is done like this:

[code]

[2019-05-14 14:45] lezhnev74 commented on #17
Great question. Shortly, the ServerRequestValidator returns OperationAddress, so you can easily feed it to the `ResponseValidator` on the next step. See how it is done in the middleware here: https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/PSR15/ValidationMiddleware.php#L87

1. Request can match to any operation (path/method) in the spec.
2. `ServerRequestValidator` will tell y

[2019-05-14 15:36] judgej commented on #17
Okay, that makes more sense. Where I'm coming from is integration into Laravel and Lumen apps. That has its own routing, which can run in a number of different ways, but *usually* each route will be passed to a controller method to handle.

Laravel request middleware usually does one of several things: throws an exception on a bad request, redirects to a login page, or processes the request to add

[2019-05-14 15:50] scaytrase opened #18 "Exceptions consistency"
Here I will create a list of inconsistent exceptions or exception hierarchy:

 - [x]  (https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/Schema/Keywords/Type.php#L113)[FormatMismatch] exception is derived from `\LogicException`, which according [to the manual](https://www.php.net/manual/en/class.logicexception.php) happens only if code logic is broken and there is a bug or misbeh

[2019-05-15 09:07] lezhnev74 commented on #17
Ok, I see that you want to build this validation logic into your workflow. I understand that it can be hard.

There are some assumptions in the package:
- it should do just two things (basically): validate ServerRequest, validate Response
- it should hide all the internal details as much as possible (so if you need to make do something special, you'd better fork it and play with it on your own). I

[2019-05-15 09:16] judgej commented on #17
I'm not sure it is internal state I need at all. It is a view into the request that I am looking for. The HTTP request is fixed at this point - the state is not changing, and I am not changing it in the package.

I look forward to the more granular approach. Everything I need is there, but like LEGO, I would like to be able to pieces the blocks together in a slightly different order, with my own L

[2019-05-15 09:17] cebe commented on #11
I can confirm there is no caching built into the lower layer packages, which is mainly because the library has no information on how the parsed/read content is going to be used, so there is no information on when to invalidate the cache.

There is [one issue with accessing an external URL multiple times while resolving references](https://github.com/cebe/php-openapi/issues/13), which I am going to

[2019-05-15 09:40] lezhnev74 commented on #17
@scaytrase looking at your recent PR #16, what are your thoughts about the points raised by @judgej?

[2019-05-15 11:20] scaytrase commented on #17
From my point of view there is no crime in returning matched operation if validation passed. But It might be better to return some kind of `ValidationResult` instead, with internal enrichment. This also whould allow to collect validation data for multiple matched operations (if all of them fail).

But from other side I agree with @judgej for some points, i.e

you have multiple matched operations a

[2019-05-15 11:22] lezhnev74 commented on #17
Well, this makes total sense to me. Indeed, the request can match multiple operations (kind of an edge case, but still).

[2019-05-15 11:24] scaytrase commented on #17
Some concerns about comlexity and performance here, though

[2019-05-16 07:53] scaytrase opened #19 "Invalid invalid type handling"
If data type does not match schema code still tries to utilize it as a scalar value. moreother it tries utilize value itself rather than type, and this can lead to huge error texts

[code]

I'll try to fix it

[2019-05-16 08:07] scaytrase commented on #19
Also some questions @lezhnev74

https://github.com/lezhnev74/openapi-psr7-validator/blob/aa1cef2c9592e9c2b5e63edc77e5fde2d72ea8fe/src/Schema/Keywords/Type.php#L70

This line should some kind of schema validation step, not data validation. It's rather strange to decline data here if schema is invalid. Probably this should go to `cebe/php-openapi` instead

https://github.com/lezhnev74/openapi-psr7-v

[2019-05-16 08:11] scaytrase commented on #19
Also schema validation is duplicated here

https://github.com/lezhnev74/openapi-psr7-validator/blob/aa1cef2c9592e9c2b5e63edc77e5fde2d72ea8fe/src/Schema/Keywords/Type.php#L49

and here

https://github.com/lezhnev74/openapi-psr7-validator/blob/aa1cef2c9592e9c2b5e63edc77e5fde2d72ea8fe/src/Schema/Keywords/Type.php#L90

I hope we can leave second only, it's more obvious

[2019-05-16 09:11] scaytrase commented on #9
I've created quickfix for it

https://github.com/cebe/php-openapi/pull/25

I hope this could be closed, as there is nothing could be done on this lib side

[2019-05-16 12:27] lezhnev74 commented on #9
Well, let's close it as soon as the underlying package fixes it, just to avoid duplicates from other developers.

[2019-05-16 12:40] lezhnev74 commented on #19
Great points!

1. `$this->parentSchema->items`.
Agree, this is too defensive. This should be delegated to the underlying package.
2. `count($data) && ! (is_array($data) && ArrayHelper::isAssoc($data))`
This must make sure that the data is an array, and it has no string keys (which makes it a dictionary in terms of JSON). What would be a better check here? Ah, I jsut saw the PR. This code solves th

[2019-05-16 12:49] scaytrase commented on #19
2. everything but counting is ok. counting is unsafe and really not needed. to check vector against array `is_array($data) && !ArrayHelper::isAssoc($data)` is enough. Counting on non countable would fail in 7.2+

https://php.net/manual/en/migration72.incompatible.php#migration72.incompatible.warn-on-non-countable-types

[2019-05-16 12:51] scaytrase commented on #19
For 1 and 3 I can update #21 removing these additional checks

[2019-05-16 12:54] lezhnev74 commented on #19
Please, go ahead, sounds good!

[2019-05-16 13:02] scaytrase commented on #19
Done. Raised one more question in PR

[2019-05-16 13:36] lezhnev74 opened #22 "Add Doctrine code style check to CI"
To make collaboration easier, I am adding [doctrine coding style](https://www.doctrine-project.org/projects/doctrine-coding-standard/en/5.0/reference/index.html#introduction) checks to the Jenkins CI.

[2019-05-16 14:29] #19 closed, assigned to nobody

[2019-05-17 09:28] lezhnev74 commented on #22
Implemented in #20

[2019-05-17 09:28] #22 closed, assigned to lezhnev74

[2019-05-18 13:45] lezhnev74 opened #23 "Can we access parsed OpenApi schema after validation is done?"
Validation logic parses and caches `\cebe\openapi\spec\OpenApi ` internally. It uses it for validation purposes, but this instance (which is already in memory) can be valuable for later use AFTER validation is done.

I have this use case in my head:

1. We built a validator from the yaml file.
2. The schema is cached somewhere and used inside.
3. After validation is complete, can we somehow contin

[2019-05-18 14:00] #11 closed, assigned to nobody

[2019-05-19 09:59] scaytrase commented on #14
I've created a PR #24 which brings some exception consistency to `Schema` namespace (at the moment)

[2019-05-20 15:20] cebe commented on #9
I just released version 1.0.1 of cebe/php-openapi, which fixes cebe/php-openapi#22 and other windows related issues. Also added travis-ci tests for windows environment.

https://github.com/cebe/php-openapi/releases/tag/1.0.1

[2019-05-20 15:25] lezhnev74 commented on #9
Cool! My windows setup shows green:
![image](https://user-images.githubusercontent.com/10206110/58033149-6341f800-7b3d-11e9-899a-cfb4e96cef77.png)

@brayniverse check the last version

[2019-05-21 06:27] scaytrase commented on #9
Yeah, test ran without additional hacks.

[2019-05-21 06:28] #9 closed, assigned to nobody

[2019-05-21 08:07] brayniverse commented on #9
I get a few different errors now, seeing as they pass for you it's probably something I've done. I'll pull everything down fresh this afternoon and give it another try. Thanks @lezhnev74 @scaytrase

[2019-05-21 08:35] lezhnev74 commented on #9
Sure, keep us posted here.

[2019-05-22 05:28] #14 closed, assigned to nobody

[2019-05-23 15:18] lezhnev74 commented on #23
We could make this method public: `\OpenAPIValidation\PSR7\ValidatorBuilder::getOrCreateSchema`. @scaytrase

[2019-05-23 15:25] scaytrase commented on #23
I hope we should reuse schema of validator itself, not of the builder

чт, 23 мая 2019 г., 18:18 Dmitry Lezhnev <notifications@github.com>:

[2019-05-23 15:33] lezhnev74 commented on #23
Maybe we can add this interface to validators:
[code]

[2019-05-23 15:38] scaytrase commented on #23
sounds good

чт, 23 мая 2019 г., 18:33 Dmitry Lezhnev <notifications@github.com>:

[2019-05-23 16:02] #23 closed, assigned to nobody

[2019-05-23 16:03] lezhnev74 commented on #17
After recent changes we introduced:
- validators builder
- access the schema after the validation (see https://github.com/lezhnev74/openapi-psr7-validator#reuse-schema-after-validation)

@judgej do you think it can simplify your workflow?

[2019-05-23 16:17] judgej commented on #17
I'll certainly give it a go :-)

[2019-05-28 19:14] osteel opened #26 "Handle JSON:API's application/vnd.api+json content type"
Hi,

I'm currently trying out your package to run functional tests against an OpenAPI schema in a Laravel application.

We're following the [JSON:API](https://jsonapi.org/) specification for our API, meaning the `Content-Type` and `Accept` headers are expected to be `application/vnd.api+json`.

But in the [`Body` validator](https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/PSR7/V

[2019-05-28 19:35] osteel opened #27 "Composite validation rules' related exceptions are lost"
Hi,

The [`InvalidSchema`](https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/Schema/Exception/InvalidSchema.php) exception (and maybe others) will only display the wrapping error and omit the related ones when the error is a composite one (such as [Respect/Validation](https://github.com/Respect/Validation)'s [`AllOf`](https://github.com/Respect/Validation/blob/master/library/Rule

[2019-05-29 04:54] lezhnev74 commented on #26
Hi Yannick, this is a great question!

There are many possible media types which describe JSON payload. This tool should detect such occasions. At the moment you can't easily extend it and change how validation works, so I'll push a fix for this [JSON-API](https://jsonapi.org/) media type: `application/vnd.api+json`.

This media type `application/vnd.api+json` can look differently, for example, [G

[2019-05-29 05:51] lezhnev74 commented on #26
`0.13.2` is tagged. Let me know if this is still an issue.

[2019-05-29 05:59] lezhnev74 commented on #27
Another great catch, Yannick!
Exceptions are not really self-explanatory (partially because the validation package that is used does not give good messages). The messages clarity is definitely something to be improved in the upcoming releases.

Let me meditate on this problem for some time.

@scaytrase what do you think?

[2019-05-29 06:20] scaytrase commented on #27
I think that invalid schema should not be explanatory. it's defensive exception and validation of given schema is not a job of this lib

[2019-05-29 06:25] scaytrase commented on #27
For other exceptions there is a tradeof of performance and completeness. I.e there we can validate every schema  for allof after first invalid, but this would waste time. I think we can make this optional, at least for schema namespace

[2019-05-29 12:48] osteel commented on #26
@lezhnev74 it is not! I get the expected behaviour now.

Thanks for the quick response! 👍

[2019-05-29 12:48] #26 closed, assigned to nobody

[2019-05-29 13:30] osteel commented on #27
Hi guys, thanks for your replies.

I think it does actually, by way of the related exceptions as can be seen [here](https://github.com/Respect/Validation/blob/1.1/library/Rules/AllOf.php#L27) for example, in the `allOf` class.

I hear your argument, and I agree. However I'm not sure we're talking about _validating_ the schema here, we're really comparing the response's format to the format that is

[2019-05-29 13:34] scaytrase commented on #27
Looks like a bug. Just a bug.

I think we mixed up schema checks and data check somewhere. Data checks should not throw `InvalidSchema`, neither use Respect validations. I hope this should be catched by `type` keyword validator but did not for some reason. I think you can submit a simple test to reproduce it, or the whole fix if you want. @lezhnev74 WDYT ?

[2019-05-29 13:46] scaytrase commented on #27
I see two data checks, but they look defensive to - one for `Items` (checks that items are array indeed, but this should be checked with `type` keyword check beforehand) and one for `Properties` (checks that data is hash to search property in). So it looks like a bug in validation order or check structure.

If you give us minimal schema and data sample causing this, I think we can debug this.

[2019-05-29 14:27] osteel commented on #27
Hmm this is a bit embarrassing, I can't seem to replicate the issue anymore. When I strip it down to a very simple example it doesn't make a difference whether I specify `type: object` or not, and in the bigger schema (the actual one used by the app we're building) removing `type` doesn't cause an issue anymore either.

But we changed the schema quite a bit since yesterday so we might have removed

[2019-05-29 14:27] #27 closed, assigned to nobody

[2019-05-31 21:04] osteel opened #28 "Tries to validate content even if no content was specified"
Hi,

When deleting a resource and the response has no content, the `ResponseValidator` still tries to [validate the body](https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/PSR7/ResponseValidator.php#L63):
[code]
If my OAS response is defined like this:
[code]
In the previous code sample `$spec->content` is an empty array.

The `Body` validator subsequently [tries to get the `Cont

[2019-06-01 06:40] lezhnev74 commented on #28
Wow, great catch!

According to [HTTP rfc2616#section-7.2.1](https://tools.ietf.org/search/rfc2616#section-7.2.1) the body is indeed optional, as well as the header `Content-Type`.

This case must be addressed by this package (I'll write a patch to fix this).

P.s. to think through:
- no-header does not mean no-body
- no-body does not mean no-header
- so, header and body can be present/missing at

[2019-06-01 14:09] lezhnev74 commented on #28
I made a minor fix. Tagged `0.13.3`. Let me know if this helped.

[2019-06-01 14:29] osteel commented on #28
@lezhnev74 it did help - thanks for the fix!

Although now any response with no content defined in the OAS spec will pass the body validator check, while we might expect the package to test whether the response body actually is empty when the OAS spec indicates it should be the case (no `content` defined).

But maybe you're already planning to do this and this was just a quick fix for now - in any

[2019-06-01 14:42] lezhnev74 commented on #28
This is a good point. If a schema does not set any expectations on what the body should look like, it won't validate at all. In other words, I am not sure if `no content keyword` means `empty body`. To me, it means `I don't know what body should look like, I don't care`.

@scaytrase wanna join the discussion?

[2019-06-01 17:48] scaytrase commented on #28
Yeah, sounds interesting. I think, headers should add restrictions on body content. In other words the body should match headers, no matters which (we can even create extensible body-header matcher). If there is `content-type` header - body should be of this content type. If there is `content-length` - content should be of this length, etc. If there is no headers - no validation should occure.

so

[2019-06-03 05:04] #28 closed, assigned to nobody

[2019-06-12 12:01] TarasBK opened #30 ""Required" option for header parameters is ignored"
Request validator ignores "required" option for header parameters, and treats all such parameters as mandatory, opposed to OpenAPI Specification https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#parameterObject.

required | boolean | Determines whether this parameter is mandatory. If the parameter location is "path", this property is REQUIRED and its value MUST be true. Ot

[2019-06-13 15:39] lezhnev74 commented on #30
Thank you for the report!
I need some time to check it.

[2019-06-15 08:14] lezhnev74 commented on #30
The bug is confirmed! I've pushed a new patch with a corresponding test: `\OpenAPIValidationTests\PSR7\PathParametersTest::testItAllowsOptionalParametersGreen`
Tagged `0.13.4`

Let me know if the problem resolved for you.

[2019-06-18 07:28] TarasBK commented on #30
Thanks, the problem is resolved!

[2019-06-18 07:28] #30 closed, assigned to nobody

[2019-06-18 08:05] TarasBK opened #31 "Validator doesn't check for "additionalProperties = false""
There is another issue had been found out during testing. Comment in source file https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/Schema/Keywords/Properties.php describes behaviour for "additionalProperties = false" option, but it seems, there is no check in actual code.

And here is OpenAPI documentation for reference: https://swagger.io/specification/#schemaObject.

[2019-06-18 08:57] lezhnev74 commented on #31
@TarasBK can you provide your schema and the message that you validate? I'll make a test to confirm that and write a patch.

[2019-06-18 10:00] TarasBK commented on #31
Of course.
Definition:
[code]
Object to validate:
[code]

This should throw some exception, for example:

[2019-06-19 06:55] lezhnev74 commented on #31
Added test for the case: `\OpenAPIValidationTests\Schema\Keywords\PropertiesTest::testItValidatesAdditionalPropertiesDisallowedRed`

[2019-06-19 06:58] lezhnev74 commented on #31
tagged `0.13.5`

[2019-06-19 08:33] TarasBK opened #32 "Relative paths in servers objects"
When url field in server object containts relative path, for example "/v2" or "/", validator can't match request with operation definition.

For example, if we have definition:
[code]
and try to validate POST request "http://localhost/v1/operations", we get an exception "OpenAPI spec contains no such operation [/operations,post]". But if we specify server url as "http://localhost/v1", everything w

[2019-06-20 16:01] lezhnev74 commented on #32
This is one way. Another would be letting the package know server's URI. So the package can substitute any relative URLs with `schema://host` of the current server. That aligns with OpenAPI documentation.

From the top of my head, this code illustrates the approach:
[code]

[2019-06-20 16:43] lezhnev74 commented on #32
I've made a PR with a patch. It works, but I am not sure about the code design.

@cebe can you jump into the discussion for a moment and review this code snippet here: https://github.com/lezhnev74/openapi-psr7-validator/pull/33/files#diff-932afa69f5c86fa663a6d7724fd1af21R140 (lines 140-157)

I am actually changing an instance of `\cebe\openapi\spec\OpenApi`, however it has its properties marked as

[2019-06-21 07:02] TarasBK commented on #32
For our project first way would have been more preferable. Nevertheless looking forward to any solution.

[2019-06-21 07:28] dmytro-demchyna commented on #32
Hi, @lezhnev74 .
I think the "servers" block is intended not for validation purposes at all. It uses by client software to discover the server URL for request sending.  Good example - button "Try it out" in Swagger UI (https://petstore.swagger.io/). If openapi-psr7-validator will validate the "servers",  backend developers will get problems. Specially if the application is containerized (Docker, e

[2019-06-21 09:57] lezhnev74 commented on #32
@scaytrase what do you think?
@dmytro-demchyna are you suggesting not validating hostname at all?

[2019-06-21 10:00] scaytrase commented on #32
well, I can agree with this validation is not useful, but not sure we should validate nothing at all.

currently we use relative paths as well as docker images and we have no problems with validation. I think that if server urls are specified - this is intentional and communication should not occure on other hosts. If any host is allowed - relative URL is an option

[2019-06-21 10:08] dmytro-demchyna commented on #32
It is the best solution in my opinion, because it allows to use relative path for developers that don't want to care about hosts. To my thinking OpenAPI documentation tells same:

So, we can place the definition to any server

[2019-06-21 11:04] TarasBK commented on #31
Thanks, that solves the problem. I'm closing the issue if you don't mind

[2019-06-21 11:04] #31 closed, assigned to nobody

[2019-06-21 15:25] cebe commented on #32
if you want to do that you could get that information from `ReferenceContext` class in case the spec is not loaded from a local file.

This is wrong annotation, I forgot to change `@property-read` to `@property` when I implemented changing of the properties and writing possibility. Will be changed in next release.

This makes more sense. If you make a request to the API there must be a webserver c

[2019-06-21 16:54] lezhnev74 commented on #32
Ok, I am going to go along with NOT validating hostnames at all.
It makes total sense to me that `servers` are used by API clients to discover API hosts and NOT for validation.

[2019-06-22 05:50] lezhnev74 commented on #32
Reverted the previously proposed solution and pushed a new patch.
This test shows the new approach: [`tests/PSR7/ServerRequestRelativeServerTest.php`](https://github.com/lezhnev74/openapi-psr7-validator/blob/4b1276c530132e09965b2ef640e0a0fa9b1db15f/tests/PSR7/ServerRequestRelativeServerTest.php)

tagged `0.13.6`

[2019-06-27 07:40] #32 closed, assigned to nobody

[2019-07-02 15:37] NullNinja1 opened #36 "Validating non string query parameters"
Hello,

I'm trying to validate a request containing two query parameters.

![image](https://user-images.githubusercontent.com/20226134/60525080-a6b78680-9ce5-11e9-9359-3a9d1146c795.png)

Upon doing so i am receiving a RequestQueryArgumentMismatch due to the query arguments of the request not being a type 'integer', and a 'string' given.

As of version 3.0 of openapi, query parameters can be specif

[2019-07-02 15:48] judgej commented on #36
Since query parameters are always going to be presented by the request object as strings, the validation is different to how it would be performed on a JSON payload with its many data types. I guess validation even for integers, floats, doubles etc. would just be about pattern matching.

If scientific notation is accepted as valid number formats, then it gets even more complicated, so I'm not goin

[2019-07-02 16:17] lezhnev74 commented on #36
Yeah, good question! It makes sense to validate types as OpenAPI specification allows us describing it in details. However as @judgej points out, it can be a nontrivial thing.

[2019-07-03 05:17] lezhnev74 commented on #36
After some considerations I am adding this type juggling from string->integer and similar.

[2019-07-03 05:57] cebe commented on #36
it's actually not really type juggling but deserialisation. If you think about this as two steps involved:

1. deserialize request parameter following what is in the spec
2. validate the result

in case of an integer the deserialization would fail if it is not numeric.

It's more easy in case of PHP, you could check for `is_numeric($value)` :)

[2019-07-03 07:18] lezhnev74 commented on #36
Added these rules:
- `type:boolean` matches case insensitive `true` or `false`
- `type:number` matches both integers and floats with/without signs
- `type:integer` matches numbers consisted of numbers only with an optional sign

[2019-07-03 10:51] NullNinja1 commented on #36
Thank you for adding this! I am testing the changes now. :)

[2019-07-03 10:55] lezhnev74 commented on #36
If nothing comes up, I am going to tag this evening.

[2019-07-03 14:41] NullNinja1 commented on #36
Tested the changes again with the same query parameters and it is now validating the request correctly with no exceptions. :)

[2019-07-03 18:22] lezhnev74 commented on #36
tagged `0.13.9`

[2019-07-03 18:22] #36 closed, assigned to nobody

[2019-07-04 14:40] digilist opened #38 "Query string parameter validation of Arrays with `style: form` and `explode: false`"
Consider this swagger parameter definition (in YAML):
[code]

According to the [Open Api Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#style-examples) this will result in a query parameter  `?filter=a,b,c` (which is also generated by Swagger UI)

However, the validation does not consider a URL of that format as an array, but as a string:

[code]

[2019-07-04 15:53] lezhnev74 commented on #38
Yeah, true. At this point, parameters serialization and deserialization are not supported at all in this package.

[2019-07-08 15:28] maciakm opened #40 "header names are supposed to be case insensitive"
right now the headers validation is case sensitive.
that includes security validation of http "Authentication" header
This makes it hard to use this library with frameworks like symfony that casts all header names to lowercase.

related RFC:
https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

[2019-07-08 15:42] maciakm commented on #40
when I submitted this I already saw the resolution :)
it is not in this library responsibility to handle the case (in)sensitivity of headers.
I switched to ServerRequestImplementation that handles it properly and openapi-psr7-validator works as it should.

closing

[2019-07-08 15:42] #40 closed, assigned to nobody

[2019-07-09 11:53] digilist commented on #18
It would be great if all exceptions can implement one interface, so that it's easy to catch all Open API validation related exceptions :blush:

[2019-07-09 11:59] scaytrase commented on #18
@digilist You can see the proposed PR. All PSR-7 validation exceptions now inherit `ValidationFailed` and it's strictly fixed within the validators signature. For schema matching they are already inherit `SchemaMismatch` root exception

[2019-07-09 12:05] digilist commented on #18
Sorry, you are right. Didn't see the open PR. Thank you!

[2019-07-09 13:00] scaytrase commented on #17
I think we should create second validation like `RoutedRequestValidator` which will accept `OperationAddress` on the input as `ResponseValidator` do and will do no additional path matching (aka routing) for project where routing occurs with framework or other tools

[2019-07-09 13:29] lezhnev74 commented on #17
Sounds good! Can you elaborate on that and use-cases?

[2019-07-09 13:39] scaytrase commented on #17
sure

[2019-07-10 13:20] NullNinja1 commented on #38
I also have ran into this issue today.

Would this not be something that could be possibly fixed with the changes that were added here just recently?  -> https://github.com/lezhnev74/openapi-psr7-validator/issues/36

[2019-07-10 17:58] lezhnev74 commented on #38
Well, serialization is not so straightforward to me, as there are many supported serialization patterns: https://swagger.io/docs/specification/serialization/

#36 incorporates much simpler things like typecasting (it uses just `type` keyword and basically validates the query argument based on that).

[2019-07-11 10:10] scaytrase commented on #17
https://github.com/lezhnev74/openapi-psr7-validator/pull/43/commits/b47e4abdf7482a538bdfedaa1dc9385b46ca40cc

very simple implementation, I think it can make things much easier

[2019-07-11 12:57] judgej commented on #38
In case it is of any use for ideas, we are generating clients from OpenAPI descriptions using the OpenAPI Code Generation project. Are using heavily customised templates (and still WIP) but this function converts an array of strings passed into an operation method, into a serialised parameter string suitable for a query parameters:

https://github.com/consilience/xero-api-sdk/blob/master/apis/acco

[2019-07-16 08:43] lezhnev74 opened #44 "Add body validation for "multipart/form-data" requests"
Currently, the body of the request is validated as a string:
https://github.com/lezhnev74/openapi-psr7-validator/blob/c6d12609d9990ff2de23343c48ac23b58919f8a1/src/PSR7/Validators/Body.php#L48

This does not work with schema validation at the moment. The problem is that we CAN specify multipart body format with a schema.

Review and decide how to change that.

## Refs:
- https://swagger.io/docs/spe

[2019-07-16 12:49] #18 closed, assigned to nobody

[2019-07-16 16:16] #17 closed, assigned to nobody

[2019-07-17 08:34] nick2164 opened #46 "Content-Type:application/json with charset"
So i'm trying out your project, and i'm a huge fan.

Well i'm designing a restful api, and i'm testing my responses.
While i was doing so, i found out that your body validator, doesn't like if the content-type is having a charset. This is kind of the standard of the framework that i'm using for the restapi.

As seen in the documentation from mozilla, there it's fully allowed to have both charset,

[2019-07-17 08:47] lezhnev74 commented on #46
Hey! Yeah, I stumbled upon the same problem just recently and pushed a patch for that. It should be available since `0.15.0` version of the package. Can you check that you pull in the latest version?

This line here should trim all extra parameters from the header value:
https://github.com/lezhnev74/openapi-psr7-validator/blob/6d61b91ab2e91758aa04233d009d72bcb15e2dda/src/PSR7/Validators/BodyValida

[2019-07-17 08:57] nick2164 commented on #46
Headline: It's working!

Well i found out that i was on the 0.13.8 version, and off course i should have updated and tested on the newest one, before committing an issue. Stupid me :P

[2019-07-17 08:57] #46 closed, assigned to nobody

[2019-07-18 12:46] lezhnev74 opened #47 "Add parameters serialisation support"
Currently, the package does not support serialization of parameters.

This ticket is to track efforts for adding serialization support to the package.

### Docs:
- https://swagger.io/docs/specification/serialization/
- https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#support-for-x-www-form-urlencoded-request-bodies

### Notes:
- `application/x-www-form-urlencoded` body me

[2019-07-18 12:46] lezhnev74 commented on #38
closed in favor of #47

[2019-07-18 12:46] #38 closed, assigned to nobody

[2019-07-18 13:52] lezhnev74 commented on #44
Initial work is there, but PHP does not let us to access raw HTTP request body, instead we can only access $_POST/$_FILES or `ServerRequest::getParsedBody`/`ServerRequest::getUploadedFiles`.

[2019-07-18 13:55] scaytrase commented on #44
what about reading `stdin` directly?

https://php.net/manual/en/wrappers.php.php

[2019-07-18 14:09] lezhnev74 commented on #44
Well, it would be awesome, but: `php://input is not available with enctype="multipart/form-data".` as stated in that doc. Webservers won't push raw HTTP body to the PHP, hm?

[2019-08-08 12:21] #2 closed, assigned to nobody

[2019-08-09 13:44] imefisto opened #49 "multipart with fields without content type won't pass validation"
In #44 support for multipart request was improved. If you send fields with files (which have content-type), it works ok. But if a field without content type is included, an exception will be thrown:

[code]
Added a quick fix in [fork](https://github.com/imefisto/openapi-psr7-validator/tree/bugfix/handle-no-file-fields-on-multipart)

[2019-08-09 18:53] scaytrase commented on #49
Would you mind open a PR?

[2019-08-10 13:54] Aaronmacaron opened #50 "Get the name of the invalid property"
I'm trying to use this library to generate error messages that are visible to the end-user. Thus I need a way to find out the name of the property that's not valid.

As far as I can tell there is no way to this right now. I'm thinking of something like that:

[code]

Is something like that possible and if not are there any plans to implement this?

Thanks

[2019-08-10 14:03] scaytrase commented on #50
Invalid body could be caused by different reasons. `SchemaMismatch` is one of them. You can try to inspect previous exception in order to find out the real reason

[2019-08-11 08:48] #49 closed, assigned to nobody

[2019-08-12 15:11] digilist opened #52 "Validation of callbacks"
Some way to validate the request and response of callbacks would be great.

I think the validation per se would work, but there needs to be some other way to resolve the specs. Right now, the specs are loaded based on a passed OperationAddress which doesn't fit for callbacks.

[2019-08-12 15:41] lezhnev74 commented on #52
Sounds interesting. Can you provide an example of how it should look/work?

[2019-08-12 15:56] digilist commented on #52
In the OpenAPI spec the callbacks are defined for one particular endpoint. So it would be necessary to define which callback should be validated, as I think there is no direct way to resolve it automatically.

It's possible to get a callback operation object like this:
[code]

(I think it would be nice to make it a little easier to resolve this)

After we got the callback operation, we can use it

[2019-08-13 07:38] lezhnev74 commented on #52
Adding more docs:
- https://swagger.io/docs/specification/callbacks/
- https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#callback-object

[2019-08-13 08:16] scaytrase commented on #52
IMO callback operation is a just (`OperationAddress` + callback name) object. OperationAddress is known either implicitly with `ServerRequestValidator` (as a result of validation) or explicitly with `RoutetServerRequestValidator` (as an external argument) and callback name is the thing operated by userland code (i.e one could write a iterator thru all callbacks of current route and at this moment

[2019-08-13 08:30] digilist commented on #52
The use case I am facing is that I need to ensure that the callback is triggered only with a valid payload and that the callback response is only processed if it is in the correct format.

As we are dealing with quite complex payloads, it should be another internal measurement to ensure we do not make any mistakes.

[2019-08-13 14:59] lezhnev74 commented on #52
Speaking of PSR-18, the package lacks support for `Request` class. I think it is a good first step to add support for it.

[2019-08-13 18:05] imefisto opened #53 "Improve urlencoded body parsing"
When you have an urlencoded body with arrays, and the field is required according to the specification, validation won't pass.

I've added an array field to the message in tests (BodyValidatorTest::dataProviderFormUrlencodedGreen): (phones[0]=123-456&phones[1]=456-789. When urlencoded, the full message will be:

address=Moscow%2C+ulitsa+Rusakova%2C+d.15&id=59731930-a95a-11e9-a2a3-2a2ae2dbcce4&phon

[2019-08-14 04:20] #53 closed, assigned to nobody

[2019-08-14 06:13] scaytrase commented on #47
https://github.com/lezhnev74/openapi-psr7-validator/pull/54#discussion_r313542837

just to not loose this comment. we hitting problems with different parameters format

[2019-08-14 07:08] lezhnev74 opened #56 "Add support for PSR-7 `Request`"
At the moment the package only supports validation for:
- `Response`
- `ServerRequest`

We need `Request` support now.

[2019-08-14 09:00] Aaronmacaron commented on #50
Unfortunately none of the previous Exceptions such as `SchemaMismatch` contain the name of the property that is not valid. Thanks anyway.

[2019-08-14 09:04] scaytrase commented on #50
`SchemaMismatch` contains breadcrumbs which could be converted to path

https://github.com/lezhnev74/openapi-psr7-validator/blob/6811d29e145638f2e9271c1ec0e721a40a23f745/src/Schema/Exception/SchemaMismatch.php#L19

[2019-08-15 10:49] vsouz4 opened #57 "Bug with oneOf and catch"
If you have your definition with something like:
[code]
You're supposed to accept requests like:
[code]
and
[code]
The second requests works fine but the first one complains that `{ } must be a string`, because on `lezhnev74/openapi-psr7-validator/src/Schema/Keywords/OneOf.php`:
[code]
you're supposed to catch the exceptions that `validate` might throw, ignore them and count it. But for this scena

[2019-08-15 10:53] scaytrase commented on #57
yea, good catch. we should do a rethrow for first assert (not for other)

чт, 15 авг. 2019 г., 13:49 Vitor de Souza <notifications@github.com>:

[2019-08-15 10:56] vsouz4 opened #58 "Bug with numeric strings"
I have in definition something like:
[code]
and this throws me an error when the request contains a numeric string (which is possible):
[code]
That happens because on `lezhnev74/openapi-psr7-validator/src/PSR7/Validators/PathValidator.php`:
[code]
`$value` is integer; you're parsing parameters with:
[code]
on `lezhnev74/openapi-psr7-validator/src/PSR7/OperationAddress.php`
but then on `lezhnev74/o

[2019-08-15 11:03] scaytrase commented on #58
I hope we should do some kind of serialization here. There are lot of types
which can fail here, thanks for reporting

чт, 15 авг. 2019 г., 13:56 Vitor de Souza <notifications@github.com>:

[2019-08-15 17:35] scaytrase commented on #57
Hm, maybe this one just an invalid order of checks. we should check it is a string first, than check maxLenght. @lezhnev74 WDYT?

[2019-08-15 18:34] scaytrase commented on #57
@vsouz4 check #59

[2019-08-15 18:34] scaytrase commented on #58
@vsouz4 check #60

[2019-08-16 06:23] #58 closed, assigned to nobody

[2019-08-16 06:25] #57 closed, assigned to nobody

[2019-08-16 06:44] vsouz4 commented on #58
awesome, thanks @scaytrase !

[2019-08-16 07:03] vsouz4 commented on #57
nice, that solved it @scaytrase ! 🕺 👍

[2019-08-16 07:34] vsouz4 opened #61 "Missing inner exception message/detail when using AnyOf/OneOf"
Not sure that could be considered as a bug or maybe an improvement...

When checking the solution applied for #57 I realised that this library discards the exceptions from the inner validations done with OneOf and AnyOf:

Here, for example `src/Schema/Keywords/OneOf.php`:
[code]
so if we have in definition something like:
[code]
And send a request with:
[code]
One would expected to see the message

[2019-08-16 07:41] scaytrase commented on #61
I think one can create extended exception like `InvalidSchemaCombination extends KeywordMismatch` with accumulated exceptions per schema. I would consider this a new feature

[2019-08-16 07:45] scaytrase commented on #61
"Previous" idea won't work easily, do demonstrate it just swap your `oneOf` schemas order. you would get an error that string is not an object - not really useful error

[2019-08-16 08:17] vsouz4 commented on #61
you're right, the `InvalidSchemaCombination` would be better solution 🙂

[2019-08-22 16:45] Aaronmacaron opened #62 "Automatically casts numeric strings to integer even if spec says it's a string"
This issue is closely related to #58 .

I have a path parameter that is a string. Though, if I pass a string that is numeric such as `"123"` you automatically cast it to an integer:

https://github.com/lezhnev74/openapi-psr7-validator/blob/master/src/PSR7/OperationAddress.php#L98

This leads to the validation failing because the parameter is expected to be a string but it isn't because you cast it

[2019-08-23 06:07] lezhnev74 commented on #62
Good catch!
Yeah, URLs serialize anything as a string, deserialization is not so straightforward. Probably optimistic casting to int is not the perfect solution.

[2019-08-23 07:00] lezhnev74 commented on #62
Well, I've prepared a small patch which removes the casting feature (which is "too smart").
I can't remember why it was introduced in the first place though.

[2019-08-23 07:18] Aaronmacaron commented on #62
Great! I think this resolves my problem. Thanks for the quick solution.

When do you think this will be merged/released?

[2019-08-23 07:26] lezhnev74 commented on #62
I am expecting some extra feedback from @scaytrase If nothing pops up today, I think I'll tag `0.16`

[2019-08-23 08:59] lezhnev74 commented on #62
Tagged. Did it help?

[2019-08-24 12:48] Aaronmacaron commented on #62
Yep. It solved my problem. Thank you :+1:

[2019-08-24 12:48] #62 closed, assigned to nobody

[2019-08-24 15:56] Aaronmacaron commented on #50
In my case the BreadCrumb is unfortunately emtpy (`compoundIndex` and `prevCrumb` are null)

[2019-08-24 16:22] scaytrase commented on #50
hm, this sounds like a potential bug. can provide a simple test case that reproduces this issue? If yes we can try fix it

[2019-08-27 23:39] chtombleson commented on #56
#64

[2019-09-03 13:42] philsturgeon opened #65 "Collaboration"
Hey there! I think there is a great chance for you folks to collaborate here. I am opening up the conversation here as it has the most stars, but it could be anywhere. They are all good implementations.

- @mieszkomalawski - https://gitlab.com/mmalawski/openapi-validator
- @hkarlstrom - https://github.com/hkarlstrom/openapi-validation-middleware

These packages all do the same thing.

1. Read a JS

[2019-09-03 14:10] lezhnev74 commented on #65
It is a smart move to have a single project for this type of problems run by the community (instead of pouring efforts in many projects). The league seems to be a perfect place for that kind of activity. This package is licensed under MIT so there are no problems to use it for starting a project on the league foundation.
I am not archiving this, but if such transition happens I'll add a banner to

[2019-09-03 14:33] mieszkomalawski commented on #65
+1 to this

Having one quality package under league umbrella sounds great. BTW I will have a presentation this week about OpenAPI and validation at https://summit.phpers.pl/pl/

[2019-09-04 07:10] hkarlstrom commented on #65
+1

[2019-09-04 07:18] philsturgeon commented on #65
This is great! I poked my friend Frank De Jonge who is still active with the league:

[2019-09-04 07:58] cebe commented on #65
There is also duplicated effort here:

- [hkarlstrom/openapi-validation-middleware](https://github.com/hkarlstrom/openapi-validation-middleware) uses [hkarlstrom/openapi-reader](https://github.com/hkarlstrom/openapi-reader)
- [mmalawski/openapi-validator](https://gitlab.com/mmalawski/openapi-validator) seems to have its own implementation
- lezhnev74/openapi-psr7-validator (this package) uses [ceb

[2019-09-05 23:42] brayniverse commented on #65
You're all great! I'm so happy to see you all talking about collaborating.

My team and I were investigating ways to test API results against our API spec and had to downgrade from OpenAPI 3 to Swagger 2 because OpenAPI 3 wasn't as widely supported. I can't remember which implementation we landed on, but I'd be excited to migrate to a common implementation that all you bright developers are contri

[2019-09-06 14:12] lezhnev74 commented on #65
@hkarlstrom what's your email, just want to get in touch about this project?

[2019-09-08 07:58] mieszkomalawski opened #67 "Needless dependency on symfony/yaml"
Hi,

Related to https://github.com/lezhnev74/openapi-psr7-validator/issues/65 and idea of moving this package to php league.

I personally believe that in order to spread good practices and allow as many folks as possible to use openapi validation, we should focus on having as little dependencies as possible.

Currently, this package uses cebe/php-openapi which forces installation of symfony/yaml

[2019-09-08 08:06] scaytrase commented on #67
Or we can improve cebe/php-openapi to work with all not eoled yaml
versions, which is not so hard to do

вс, 8 сент. 2019 г., 10:58 Mieszko Malawski <notifications@github.com>:

[2019-09-08 13:20] lezhnev74 commented on #67
pinging @cebe

btw, speaking of dependencies. The open PR #64 adds dependency to https://github.com/dflydev/dflydev-fig-cookies which does PSR-7 cookies parsing. Do you think it is excessively?

What would be a go-to strategy to pick which dependencies are allowed and which are better not?

p.s. Another question which remains, what php version we want to support? If #64 gets merged that min requir

[2019-09-08 14:17] lezhnev74 opened #68 "Implement complete support for Security schemas"
As described here https://swagger.io/docs/specification/authentication/ possible security schemas are:
- [x] http
- [x] apiKey
- [ ] openIdConnect
- [ ] oauth2

See `\OpenAPIValidation\PSR7\Validators\SecurityValidator`
This ticket is to track activities about that

[2019-09-09 10:21] mieszkomalawski commented on #67
dflydev/fig-cookies itself does not have many dependencies so I guess it's fine.

Looking at these stats https://blog.packagist.com/php-versions-stats-2019-1-edition/ about 65% people use 7.2 or above. Still 15% folks using 7.1 would be cut off. I would try to still support 7.1 if it's possible but if it means that some important feature will be blocked then I would consider abandoning 7.1

[2019-09-10 07:58] digilist commented on #67
PHP 7.1 reaches end of line in 2 months and will not receive any security updates anymore (see https://www.php.net/supported-versions.php), so anybody who is still running 7.1 needs to update urgently.

Imho, PHP 7.1 should only be supported if it does not block any feature development (and also does not complicate it). In all other cases people need to upgrade their PHP version first to use new f

[2019-09-11 14:51] Aaronmacaron commented on #50
Okay I think I know what the problem is.

Suppose you have a schema that requires a JSON object like this:

[code]

Now, when the client submits following JSON the "Required" validator fails because the `email` property is missing.

[code]

The dataBreadCrumb is null because the `SchemaValidator` is validating the toplevel JSON object and not the `email` property.

I'm aware that is not a bug Per

[2019-09-11 15:32] scaytrase commented on #50
great, I think we can fix this having this info for sure

ср, 11 сент. 2019 г., 17:51 Aaron Ebnöther <notifications@github.com>:

[2019-09-19 03:43] lezhnev74 commented on #65
![image](https://user-images.githubusercontent.com/10206110/65211859-924f8280-dab9-11e9-9ad2-7e3082d0294a.png)

[2019-09-19 09:36] #56 closed, assigned to nobody

[2019-09-19 09:41] lezhnev74 commented on #65
Thank you guys!
It has happened.
Go to https://github.com/thephpleague/openapi-psr7-validator

[2019-09-19 12:17] scaytrase commented on #65
Congrats! Do we have any roadmap? Also can we transfer current significant issues to the new project?

[2019-09-19 12:29] lezhnev74 commented on #65
Yes, I did migrate some of them.
Feel free to add the rest that you feel needs to be done.

[2019-09-19 14:37] philsturgeon commented on #65
This is amazing, thank you @lezhnev74, and thank you @mieszkomalawski and @hkarlstrom for all working together on this! I can't wait to see one awesome super validator be the best of all three implementations.

[2019-09-19 14:37] #65 closed, assigned to nobody

[2019-09-19 14:39] philsturgeon commented on #65
Btw @hkarlstrom could you move some of your feature requests over?

https://github.com/hkarlstrom/openapi-validation-middleware/issues/33
https://github.com/hkarlstrom/openapi-validation-middleware/issues/27

[2019-09-19 14:41] hkarlstrom commented on #65
Sure, will do it tmr!

On Thu, 19 Sep 2019 at 17.39, Phil Sturgeon <notifications@github.com>
wrote:

[2019-09-19 17:02] scaytrase commented on #65
I think we should also mark packages (https://packagist.org/packages/lezhnev74/openapi-psr7-validator) as abandoned with suggested replacement in order to make users transit to new one

[2019-09-26 11:52] coatesap commented on #50
For anyone looking to extract the reason for the failure (under normal conditions), this worked for me:
[code]

[2019-09-27 07:22] scaytrase commented on #61
Moved this into https://github.com/thephpleague/openapi-psr7-validator/issues/13

[2019-09-27 07:23] scaytrase commented on #50
Moved this into https://github.com/thephpleague/openapi-psr7-validator/issues/14

[2020-02-20 06:34] m0003r opened #71 "Strings passes validation against type: number, type: boolean etc."
https://swagger.io/docs/specification/data-models/data-types/#numbers clearly states that string containing number is considered as string, not as number.

Same for boolean

[2020-02-20 06:36] #71 closed, assigned to nobody

[2020-05-16 15:04] scaytrase commented on #50
Created https://github.com/thephpleague/openapi-psr7-validator/pull/57/files to address this

[2020-05-16 16:55] scaytrase commented on #50
@lezhnev74 this one is fixed in the mainstream, may be closed

[2020-05-17 07:14] #50 closed, assigned to nobody